@import '../toolbox/media-queries.scss';
@import '../toolbox/mixins.scss';

.navigation {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.navigation {
    display: block;
    position: fixed;
    width: 25rem;
    height: calc(100vh - 15rem);
    background-color: rgba(#efefef, .5);
    margin: 0 auto;
    transition-duration: .5s;
    box-sizing: border-box;
    z-index: 100;

    ul {
        width: 100%;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }

    a {
        display: block;
        padding: 1.5rem;
        font-weight: 700;
        color: #555;
        text-decoration: none;
        font-size: 1.4rem;
        border-bottom: .1rem solid #555;

        @include states {
            background-color: rgba(#efefef, .8);
            color: #000;

        }
    }
}