@import '../toolbox/media-queries.scss';
@import '../toolbox/mixins.scss';

.navigation {
    display: block;
    position: relative;
    padding-top: 11.45rem;
    width: 30rem;
    background-color: #333;
    color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 1.6rem;

    .label {
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        color: inherit;
    }

    .button {
        width: 6.5rem;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        letter-spacing: .1rem;
        transition-duration: .3s;
        font-weight: 300;
        font-size: 2rem;
        padding: 1rem;
        box-sizing: border-box;
        background-color: transparent;
        color: inherit;
        border: .1rem solid;
        border-color: #fff;
        border-radius: .3rem;
        cursor: pointer;
        margin-right: .5rem;

        @include states {
            background-color: #fff;
            color: #444;
        }
    }

    .button.small {
        font-weight: 400;
        font-size: 1.2rem;
    }

    ul.templates-nav,
    ul.colors-nav,
    ul.styles-nav {
        list-style: none;
        padding: 1.5rem 1rem;
        box-sizing: border-box;
        margin: 0;
        border-top: .5rem solid #444;
    }

    .sub-nav {
        list-style: none;
        padding: .5rem 1rem;
    }
}