.style-add {
  position: fixed;
  width: 25rem;
  left: 0;
  bottom: 18rem;
  padding: 1.5rem;
  box-sizing: border-box;
  z-index: 100;

  .control-group {
    margin-bottom: .5rem;

    label {
      display: inline-block;
      width: 10rem;
    }
  }
}