.style {
    position: fixed;
    font-family: "Courier New", Courier, monospace;
    background-color: #333;
    color: #fff;
    padding: 1.5rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    bottom: 0;
    left: 0;
    height: 15rem;
    width: 100vw;
    overflow: auto;
  }