@import "../toolbox/media-queries.scss";
@import "../toolbox/mixins.scss";

.style-display {

  .update-panel {
    background-color: #444;
    color: #fff;
    padding: 3rem 1.5rem;
    box-sizing: border-box;
    border: .6rem solid #333;
    border-left: none;
  }

  .table {
    .table-row {
      .table-cell {
        width: auto;

        &:first-child,
        &:nth-child(2) {
          @include tablet {
            width: 20rem;
          }
        }
      }
    }
  }
}