.template {
  height: calc(100vh - 160px);
  .navigation {
    position: relative;
    z-index: 3;
  }

  .video-banner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    video {
      position: absolute;
      z-index: 0;
    }

    .mask,
    .content-wrapper {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .mask {
      position: "absolute";
      width: "100%";
      height: "100%";
      top: "0";
      left: "0";
      z-index: 1;
    }

    .content-wrapper {
      z-index: 2;
    }
  }
}