.app {
  border: 1rem solid #444;
  box-sizing: border-box;
}

.app-body {
  position: relative;
  padding: 0;
  width: 100%;


}


// :root {
//   font-size: 62.5%;
// }

// body {
//   margin: 0;
//   color: #282c34;
//   font-size: 2rem;
//   font-family: 'Roboto', sans-serif;
//   transition-duration: .3s;
// }

// .p,
// p {
//   line-height: 1.7em;
// }

// .a,
// a {
//   color: inherit;
//   opacity: .6;
//   cursor: pointer;
//   transition-duration: .3s;
//   text-decoration: none;
// }

// .a.hover,
// .a:hover,
// a.hover,
// a:hover {
//   color: #282c34;
//   opacity: 1;
//   text-decoration: underline;
// }

// .heading {
//   margin-bottom: .25em;
//   line-height: 1.2;
//   transition-duration: .3s;
// }

// .heading.heading1 {
//   font-size: 4rem;
// }

// .heading.heading2 {
//   font-size: 3.2rem;
// }

// .heading.heading3 {
//   font-size: 2.8rem;
// }

// .heading.heading4 {
//   font-size: 2.4rem;
// }

// .heading.heading5 {
//   font-size: 2rem;
// }

// .heading.heading6 {
//   font-size: 1.6rem;
// }

// .button {
//   display: inline-block;
//   font-family: 'Roboto', sans-serif;
//   letter-spacing: .1rem;
//   transition-duration: .3s;
//   font-weight: 300;
//   font-size: 2rem;
//   padding: 1rem;
//   box-sizing: border-box;
//   background-color: transparent;
//   color: inherit;
//   border: .1rem solid;
//   border-color: #77839b;
//   border-radius: .3rem;
//   cursor: pointer;
//   margin-right: .5rem;
// }

// .button.hover,
// .button:hover {
//   background-color: #77839b;
//   color: #efefef;
// }

// .button.large {
//   font-size: 3.4rem;
//   border: .1rem solid;
// }

// .button.small {
//   font-weight: 400;
//   font-size: 1.2rem;
// }

// .label,
// label {
//   display: inline-block;
//   font-size: 1.4rem;
//   font-weight: 900;
//   margin-bottom: .5rem;
//   margin-top: .5rem;
// }

// .input,
// input {
//   display: block;
//   width: 100%;
//   padding: 1rem;
//   box-sizing: border-box;
//   border: .1rem solid;
//   border-color: #77839b;
//   border-radius: .3rem;
//   font-size: 1.4rem;
// }

// .vanilla .swim-lane .left {
//   background-color: #282c34;
// }

// .vanilla .swim-lane .left:hover {
//   background-color: rgba(0, 0, 0, .5);
// }





