.app-body {
  position: relative;
  padding: 5rem 5rem 15rem 35rem;
  width: 100%;
}

.properties-display {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  margin-left: 3rem;
  width: 65rem;

  input {
    font-weight: inherit;
    font-family: inherit;
  }
}