// color = {
//     darkest: #050607; //222
//     darker: #282c34; //333
//     dark: #2b313a; //444
//     primary: #3c424f; //444
//     lightest: #efefef;
// }


@import "./toolbox/media-queries.scss";
@import "./toolbox/mixins.scss";


$dark:#2b313a;
$darker:#282c34;
$darkest:#050607;
$primary: #3c424f;
$lightest : #efefef;

$fontSize :16px;

$border :10px solid $darker;

.dsg-app {
    position: relative;
    width: 100%;
    left: 0px;
    transition-duration: 0.3s;
    width: calc(100% + 350px);
    left: -350px;

    &.dsg-nav-expanded {
        left: 0;
        width: 100%;

        .dsg-body {
            width: calc(100vw - 350px);
        }

        .dsg-navigation-trigger {
            color: $lightest;
            transform: rotate(0);
        }

    }

}

.dsg-body,
.dsg-navigation {
    height: calc(100vh - 160px);
    overflow-y: auto;
}

.dsg-body {
    position: relative;
    transition-duration: .3s;
    width: 100vw;
}

.dsg-navigation {
    background-color: $darker;
    border: $border;
    font-size: $fontSize;
    padding-top: 50px;
    width: 350px;
    box-sizing: border-box;
    transition-duration: .3s;

    button.dsg-button.dsg-small {
        padding: 5px;
        width: auto;
    }
}

.dsg-navigation-trigger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    font-size: 26px;
    border: none;
    padding: 0;
    background-color: transparent;
    margin: 0;
    transition-duration: .3s;
    transform: rotate(-180deg);
    cursor: pointer;

    @include states {
        color: $lightest;
        opacity: .5;
    }
}

.heading.dsg-navigation-heading {
    font-size: 18px;
    font-weight: 700;
}

ul.dsg-navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.dsg-link {
    color: $lightest;
    display: block;
    padding: 3px 5px;
    text-decoration: none;
    font-weight: 300;
}

button.dsg-button {
    display: inline-block;
    transition-duration: .3s;
    font-weight: 400;
    font-size: $fontSize;
    padding: 10px;
    box-sizing: border-box;
    color: $lightest;
    border: 1px solid $lightest;
    border-radius: 3px;
    cursor: pointer;
    background-color: $darker;

    @include states {
        background-color: transparent;
        color: $lightest;
    }

    &.dsg-small {
        font-size: 12px;
        padding: 10px;
        box-sizing: border-box;
        width: 75px;
        font-family: inherit;
    }
}

input[type='text'].dsg-input {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid $darkest;
    border-radius: 3px;
    font-family: 'Roboto Mono', monospace;

    &.dsg-small {
        font-size: 12px;
        padding: 5px;
    }
}

input[type='color'].dsg-input {
    padding: 0
}


.dsg-selector {
    font-family: 'Roboto Mono', monospace;
    padding: 30px 0;
    font-size: 18px;
    box-sizing: border-box;
}

.dsg-panel {
    padding: 30px 15px;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    border: $border;


    &.dsg-navigation-panel {
        background-color: $dark;
        color: $lightest;
        border-right: none;
        border-left: none;
        border-top: none;
    }

    &.dsg-heading-panel {
        background-color: $dark;
        color: $lightest;
        border-left: none;
        padding: 45px 15px;
        margin: 0;
        font-size: 40px;
    }

    &.dsg-update-panel {
        border-top: none;
        border-left: none;
        color: $lightest;
        background-color: $primary;
    }


    &.dsg-properties-panel {
        color: $lightest;
        background-color: $primary;
        width: 40%;
        border-top: none;
        border-left: none;
    }

    &.dsg-display-panel {
        height: auto !important;
        width: 60%;
        border-top: none;
        border-left: none;
        position: relative;
        overflow: hidden;
    }

    &.dsg-add-property-panel {
        background-color: $primary;
        border: none;
        padding: 0;
    }

    &.dsg-style-add-panel {}

}

.dsg-properties-display {
    color: $lightest;
    font-size: 16px;
    padding: 0 15px;
    box-sizing: border-box;
}

button.dsg-button-to-anchor {
    background-color: transparent;
    border: none;
}