.color-palette{
    background-color: color;
    width: 10rem;
    height: 10rem; 
    border-radius: .3rem;
    padding:1rem;
    box-sizing: border-box;
    border:.1rem solid #eee;
    cursor: pointer;
}