.color-palette{
    background-color: color;
    width: 10rem;
    height: 10rem; 
    border-radius: .3rem;
    padding:1rem;
    box-sizing: border-box;
    border:.1rem solid #eee;
    cursor: pointer;

    &.no-color{
        position: relative;
        &:before{
            content:'no color selected';
            display:block;
            width: 100%;
            text-align: center;
            position: absolute;
            top:50%;
            left:0;
            transform: translateY(-50%);
        }
    }
}